$white: #FFF;
$blue: #2D96C8;
$pink: #EF5466;
$background-grey: #f0f0f0;
$border-grey: #ccc;
$bara-red: #EF5466;
$navy-blue: #202A5A;
$academy: #2E3C57;
$Athens-50: #DCDDDF;
$Athens-40: #EAEAEC;
$Athens-30: RGB(210,8,95);
$modal-grey: #F2F3F4;
$input-text: #727274;
