@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
$main-font : 'Montserrat', sans-serif;

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@mixin h1 {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.59px;
}

@mixin h2 {
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.3px;
}

@mixin h3 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.13px;
}

@mixin h4 {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.13px;
}

@mixin h5 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.09px;
}

@mixin h6 {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.04px;
}

@mixin form-font {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.04px;
}

@mixin paragraph {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.13px;
}

