
* {
  touch-action: manipulation;
  margin-left: 0px;
}

@keyframes fade_in_show {
  0% {
       opacity: 0;
       height: 0;
  }
  100% {
       opacity: 1;
       height: 100%;
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}
